.about {
  padding-top: 94px;
  display: none;
  @media screen and (min-width: 480px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    display: block;
  }
}
.about__list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
}
.about__item {
  position: relative;
  &:nth-child(2n) {
    margin-right: 30px;
    margin-left: 30px;
  }
}
.about-block {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.8),
    rgba(47, 48, 58, 0.8)
  );
  width: 370px;
  height: 70px;
  position: absolute;
  top: 224px;
  opacity: 0;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.6, -0.02, 0.59, 0.88),
    opacity 300ms cubic-bezier(.53,.33,.83,.67),
    background-color 250ms cubic-bezier(0.44, 0.32, 0.36, 0.69);
  transform: translate(0);
}
.about__item:hover .about-block {
  opacity: 1;
}
.about-block__subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 27px;
  left: 100px;
}
.about__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  margin-bottom: 50px;
}
