.clients {
  @media screen and (min-width: 480px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .clients__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;

    @media screen and (min-width: 480px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1200) {
      font-size: 36px;
      line-height: 1, 16;
      margin-bottom: 50px;
    }
  }
  .clients__list {
    display: flex;

    @media screen and (min-width: 480px) {
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      gap: 0;
    }
  }
  .clients__item {
    
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
    transition-property: border fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
    transition-delay: 50ms;
    @media screen and (min-width: 480px) {
      margin-right: 0;
      width: 210px;
      height: 92px;
    }
    @media screen and (min-width:768px){
      width: 226px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
      width: 170px;
    }
    &:hover {
      fill: $hover-color;
      border-color: $hover-color;
    }
    // @media screen and (min-width: 480px) {
    //   width: 210px;
    //   height: 92px;
    // }
    &:last-child {
      margin-right: 0;
    }
  }
}
