.footer {
  background-color: #2f303a;
  padding-top: 60px;
  display: flex;
  position: relative;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
  &__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    @media screen and (min-width: 1200px) {
      // text-align: left;
      display: flex;
      padding-top: 12px;
    }
  }
}
// .footer .container {
//   justify-content: center;
// }
.footer__logo {
  @include logo(#fff);
  text-align: center;
  display: inline;
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
  // display: flex;
}
.connection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  display: block;
  text-align: center;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  justify-content: center;
  
 
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    padding-bottom: 63px;
    justify-content: flex-start;
  }
}
.footer-contacts {
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-left: 51px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 0;
    text-align: left;
  }
}
.footer-socials {
  margin-left: 0;
  margin-bottom: 60px;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-left: 165px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.footer-socials__list {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: start;
  }
}
.footer-socials__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: $hover-color;
    justify-content: center;
    vertical-align: center;
  }
}
.footer-socials__link {
  fill: #fff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .footer-socials__item:last-child {
//   margin-right: 0px;
// }

// .footer-socials__item:hover {
//   background-color: $hover-color;
//   justify-content: center;
//   vertical-align: center;
// }
.footer__mailing {
  margin-left: 0;
  text-align: center;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    text-align: left;
  }
}
.footer__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 17.32px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  display: block;
  min-width: 290px;

  @media screen and (min-width: 480px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    display: inline;
    margin-right: 12px;
  }
  &:hover {
    border: 1px solid $hover-color;
  }
}
.footer__btn {
  background: $hover-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  position: relative;
  cursor: pointer;
  margin-top: 20px;
  justify-content: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  @media screen and (min-width: 480px) {
  }
  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    position: absolute;
    top: 108px;
    margin-top: 0;
  }
}
.footer__button__pic {
  position: absolute;
  fill: #fff;
  top: 13px;
  left: 148px;
}
.footer__button__text {
  position: absolute;
  top: 10px;
  left: 28px;
}
