.footer {
  background-color: #2f303a;
  padding-top: 60px;
  display: flex;
  position: relative;
  &__subtitle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
  }
}
.footer__logo {
  @include logo(#fff);
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
  display: flex;
}
.connection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-top: 9px;
}
.footer .container {
  padding-bottom: 63px;
  display: flex;
}
.footer-socials {
  margin-left: 70px;
}
.footer-socials__list {
  display: flex;
  margin-top: 20px;
}
.footer-socials__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background-color: $hover-color;
    justify-content: center;
    vertical-align: center;
  }
}
.footer-socials__link {
  fill: #fff;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
// .footer-socials__item:last-child {
//   margin-right: 0px;
// }

// .footer-socials__item:hover {
//   background-color: $hover-color;
//   justify-content: center;
//   vertical-align: center;
// }
.footer__mailing {
  margin-left: 93px;
}
.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
  margin-top: 20px;
  padding-left: 17.32px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  &:hover {
    border: 1px solid $hover-color;
  }
}
.footer__btn {
  background: $hover-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  color: #fff;
  border: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 96px;
}
.footer__button__pic {
  position: absolute;
  fill: #fff;
  top: 13px;
  left: 148px;
}
.footer__button__text {
  position: absolute;
  top: 10px;
  left: 28px;
}
