.team .container {
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    padding-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
  }
}
.team {
  background-color: #f5f4fa;
  align-content: center;
  margin-right: auto;
  margin-left: auto;

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $text-color;
    margin-bottom: 50px;
    @media screen and (min-width: 480px) {
      font-size: 28px;
      line-height: 33px;
      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
    }
  }
}

.team__list {
  display: flex;
  justify-content: center;
  padding-bottom: 94px;
  flex-direction: column;
  &:first-child {
    margin-left: 0;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.team__item {
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  &:first-child {
    margin-left: 0;
    @media screen and (min-width: 480px) {
      margin-top: 0;
    }
  }
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-top: 30px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-left: 30px;
    margin-top: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.team__img {
  @media screen and (min-width: 480px) {
    width: 450px;
    height: 460px;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    height: 374px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }
}
.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $text-color;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 10px;
  padding-bottom: 28px;
}
.team-socials {
  display: flex;
  @media screen and (min-width: 480px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) {
  }
  @media screen and (min-width: 1200px) {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.socials__item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  &:last-child {
    margin-right: 0px;
  }
  &:hover {
    fill: #fff;
    background-color: $hover-color;
    justify-content: center;
    vertical-align: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
    transition-delay: 50ms;
  }
}
.socials__item a {
  fill: #afb1b8;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.01, -0.01, 0.55, 1);
  transition-delay: 50ms;
  &:hover {
    fill: #fff;
  }
}
