// 192.168.0.106
.why-we {
 
  @media screen and (min-width:480px){
    padding-top: 60px;
  }
  // @media screen  and (min-width:768px){
    
  // }
  @media screen and (min-width:1200px){
     padding-top: 94px;
  }
  
  &__list {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
.why-we__item {
  width: 270px;
  margin-left: 30px;
  &::before {
    content: '';
    height: 120px;
    width: 270px;
    display: block;
    background-repeat: no-repeat;
    background-color: #f5f4fa;
    border-radius: 4px;
    background-position: center;
    margin-bottom: 30px;
  }
  &:first-child::before {
    background-image: url(../images12/antenna.png);
  }
  &:first-child {
      margin-left: 0;
  }
  &:nth-child(2)::before {
    background-image: url(../images12/clock.png);
  }
  &:nth-child(3)::before {
    background-image: url(../images12/diagram.png);
  }
  &:last-child::before {
    background-image: url(../images12/astronaut.png);
  }
}
.why-we__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $text-color;
}
.why-we__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  flex-wrap: wrap;
  margin-top: 10px;
}
