body {
  font-family: 'Roboto';

}
// p::selection {
//     background-color: $hover-color;
// }
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
button {
  cursor: pointer;
  transition-duration: 250ms;
  &:hover {
     transform: scale(1.05);
  }
}