body {
  font-family: 'Roboto';
}
// @media screen and (min-width: 480px){
//   width: 480px;
// }
// @media screen and (min-width: 768px){
//   width: 768px;
// }
// @media screen and (min-width: 1200px){
//   min-width: 1200px;
// }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media screen and (min-width: 480px) {
    // width: 480px;
  }
  @media screen and (min-width: 768px) {
    // width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
