%flex {
    display: flex;
    justify-content: center;
    align-items: center;
} 
// %logo-fonts {
//   font-family: 'Raleway';
//   font-weight: 700;
//   font-size: 26px;
//   line-height: 1.19;
//   letter-spacing: 0.03em;
//   color: $hover-color;
//   text-decoration: none;
// }