body {
  font-family: 'Roboto';
}
ul {
  list-style: none;
  /* display: flex; */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  /* align-items: center;*/
  height: 80px;
  /*padding-bottom: 32px;
  padding-top: 32px; */
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid green;
  /* align-items: center; */
}
header .container {
  display: flex;
}
.web {
  display: flex;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  width: 145px;
  /* padding-left: 215px; */
}
.web {
  padding-top: 24px;
}
.studio-part {
  color: black;
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-left: 93px;
  /*padding-bottom:32px; */
  /* padding-left: 93px; */
}
.nav-list:last-child {
  margin-left: 0;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 54px;
}
.nav-link:hover {
  color: #2196f3;
}
.header-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.header-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover {
  color: #2196f3;
}
.header-list-item {
  margin-left: 30px;
}
/* .header-img {
    color: solid#757575;
} */

/* Hero */

.hero {
  background-color: #2f303a;
  /* height: 600px; */
  /* width: 1700px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 200px;
}
.hero-title {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  flex-wrap: wrap;
  padding-top: 200px;
}
.hero-button {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  padding-left: 24px;
}

/* Why-we */

.why-we {
  outline: 1px solid red;
}
.why-we-list {
  display: flex;
  justify-content: center;
}
.why-we-list-items {
  /* justify-content: space-around; */
  width: 270px;
  margin-left: 30px;
}
.why-we-list-items:first-child {
  margin-left: 0;
}
.why-we-list-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  padding-top: 94px;
}
.why-we-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  flex-wrap: wrap;
}

/* About */

.about-section {
  outline: 1px solid red;
}
.about-list {
  display: flex;
  justify-content: center;
  /* margin-left: 215px;
  margin-right: 215px; */
  padding-bottom: 94px;
}
.about-img {
  margin-right: 30px;
  margin-left: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding-top: 94px;
  padding-bottom: 50px;
}

/* Team */

.team .container {
  margin-left: auto;
  margin-right: auto;
  padding-top:  94px;
}
.team {
  background-color: #f5f4fa;
  height: 648px;
  align-content: center;
  outline: 1px solid red;
  margin-right: auto;
  margin-left: auto;

}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  -top: 94px;
  margin-bottom: 50px;
  outline:1px solid violet
  /* justify-content: center;
        display: flex; */
}
.team-list {
  display: flex;
  justify-content: center;
}

.team-item {
  width: 270px;
  height: 368px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-left: 30px;
  /* margin-top: 186px; */
  /* display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center; */
}
.team-item:first-child {
  margin-left: 0;
}
.team-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  align-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  flex-wrap: wrap;
  align-content: center;
  margin-top: 10px;
  padding-bottom: 30px;
}
.team-list:first-child {
  margin-left: 0;
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  outline: 1px solid red;
}
.footer-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  width: 145px;
  /* padding-left: 215px; */
  display: flex;
  /* padding-top: 60px; */
}
.footer-title-part {
  color: #ffffff;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* display: flex; */
  font-style: normal;
  padding-top: 20px;
}
.connection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-top: 9px;
}
footer .container {
  padding-bottom: 63px;
}
