body {
    font-family: 'Roboto';

}
ul {
    list-style: none;
    display: flex;
}
a {
    text-decoration: none;
}
header {
    display: flex;
}
.web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1,19;
    letter-spacing: 0.03em;
    color:#2196F3;
    text-decoration: none;
}
.studio-part {
    color:black;
}

.navigation {

        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.02em;
        color: black;
        /* justify-content: ; */
}

.navigation:hover {
    color: #2196F3;
}   
.navigation-contacts {
    color: #757575;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    display: flex;
    justify-content: end;
}
.hero {
    background-color: #2F303A;
}
.hero-title {
        font-style: normal;
        font-weight: 900;
        font-size: 44px;
        line-height: 1,36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: #FFFFFF;
}
.hero-button {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1,87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.why-we-list {
    justify-content: space-around;
}
.why-we-list-title {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1,14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #212121;
}
.why-we-list-text {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        letter-spacing: 0.03em;
        color: #757575;
}
.about-list {
    justify-content: center;
}
.about-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.team-title {
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1,16;
        text-align: center;
        letter-spacing: 0.03em;
        color: #212121;
}

.team {
    background-color:#F5F4FA;
}
.team-card {
    width: 270px;
    background-color:white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-list-title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
#footer {
    background-color: #2F303A;
}
.address {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        letter-spacing: 0.03em;
        color: #FFFFFF;
}
.connection {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1,71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
}
