body {
  font-family: 'Roboto';
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  height: 80px;
  /* padding-bottom: 25px; */
  border: 1px solid #ECECEC;
}
/* header .nav-list, .header-list {
  padding-top:32px;
} */
 header .web {
  padding-top:25px;
  padding-bottom: 24px;
  align-items: center;
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
header .container {
  display: flex;
}
nav {
  display: flex;
}
.web {
  display: flex;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  width: 145px;
}
.studio-part {
  color: black;
  display: flex;
}
nav {
  display: flex;
}
.nav-list {
  display: flex;
  justify-content: center;
  margin-left: 93px;
  align-items: center;

}
.nav-list:last-child {
  margin-right: 0;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 54px;

}
.nav-link:hover {
  color: #2196f3;
}
.header-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
   display: flex;
   align-items: center;
   
}
.header-link:hover {
  fill:#2196f3;
  color: #2196f3;
}
.header-list-item {
  margin-left: 30px;
  /* display: flex; */
  /* align-items: center; */
  color:#757575
}
.header-list-item:first-child {
  margin-left:0;
}
.header-list-pic {
  margin-right: 10px;
  fill:currentColor;
  padding-bottom: 32;
}
.header-list-text {
  /* padding-top: 30px;
  padding-bottom: 34px; */
}
/* Main */


.filters-section {
  display: flex;
  justify-content: center;
  padding-top:94px;
}
.filters-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  background-color:#F5F4FA;
  margin-right: 8px;
  padding-top:6px;
  padding-bottom:6px;
  border: 0;
}
.filters-list {
  display: flex;
  justify-content: center;
  padding-bottom: 56px;
}
.filters-button:hover {
  background-color:#2196F3;
  color:white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-section {
  padding-bottom: 94px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-list-item {
  width: 370px;
  margin-left: 30px;
  background: #FFFFFF;
  border: 0.5px solid #EEEEEE;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.projects-list-item:nth-child(4n) {
  margin-left: 0;
}
.projects-list-item:first-child {
  margin-left: 0;
}
.projects-list-item:nth-child(7) {
  margin-left: 0;
  margin-bottom: 0;
}
.projects-list-item:nth-child(8) {
  margin-left: 30px;
  margin-bottom: 0;
}
.projects-list-item:nth-child(9) {
  margin-bottom: 0;
}
.card-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  padding-left: 24px;
}
.card-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 4px;
  padding-bottom:20px;
  padding-left: 24px;
}

/* Footer */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  display: flex;
}
.footer-title {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  width: 145px;
  /* padding-left: 215px; */
  display: flex;
  /* padding-top: 60px; */
}
.footer-title-part {
  color: #ffffff;
}
.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  /* display: flex; */
  font-style: normal;
  margin-top: 20px;
}
.connection {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  margin-top: 9px;
}
footer .container {
  padding-bottom: 63px;
  display: flex;
}
.footer-subtitle {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
}
.footer-block {
  margin-left: 70px;
}
.footer-list-svg {
  display: flex;
  margin-top: 20px;
}
.footer-list-svg-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
}
.footer-list-svg-link {
  fill: #fff;
  width: 44px;
   height: 44px;
   display: flex;
  justify-content: center;
  align-items: center;
}
.footer-list-svg-item:last-child {
  margin-right: 0px;
}

.footer-list-svg-item:hover {
  background-color: #2196f3;
  justify-content: center;
  vertical-align: center;
}
.footer-list-svg-link:hover {
  fill: #fff;
}