body {
  font-family: 'Roboto';
}
ul {
  list-style: none;
  /* display: flex; */
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
header {
  display: flex;
  height: 80px;
}
header {
  display: flex;
  /* align-items: center;*/
  height: 80px;
  /*padding-bottom: 32px;
  padding-top: 32px; */
}
h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 0;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid green;
  /* align-items: center; */
}
header .container {
  display: flex;
}
.web {
  display: flex;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
  display: flex;
  width: 145px;
  /* padding-left: 215px; */
}
.web {
  padding-top: 24px;
}
.studio-part {
  color: black;
  display: flex;
}

.nav-list {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  padding-left: 93px;
  /*padding-bottom:32px; */
  /* padding-left: 93px; */
}
.nav-list:last-child {
  margin-left: 0;
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: black;
  margin-right: 54px;
}
.nav-link:hover {
  color: #2196f3;
}
.header-list {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;
}
.header-link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover {
  color: #2196f3;
}
.header-list-item {
  margin-left: 30px;
}


/* Main */


.filters-section {
  display: flex;
  justify-content: center;
}
.filters-button {
  Font family: Roboto;
  Font style: Medium;
  Font size: 16px;
  Line height: 26px;
  Line height: 139%;
  Align: Center;
  Vertical align: Top;
  Letter spacing: 3%;
  background-color:#F5F4FA;
  margin-top: 94px;
}
.filters-button:hover {
  background-color:#2196F3;
  color:white
}